/*
================
Modal overrides.
================

    If you want to override the default styles of the
    modal, that needs to be done via CSS variables.

    The reason for this is Web Components use the "shadow DOM"
    which does not inherit styles from the parent page.

    The following variables have been set to their default
    values. Feel free to tweak them to your liking.
*/

cta-modal {
	/* Modal overlay. */
	--cta-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
	--cta-modal-overlay-padding-top: 20px;
	--cta-modal-overlay-padding-left: 20px;
	--cta-modal-overlay-padding-right: 20px;
	--cta-modal-overlay-padding-bottom: 20px;

	/* Modal window. */
	--cta-modal-background-color: #fff;
	--cta-modal-border-radius: 5px;
	--cta-modal-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	--cta-modal-padding-top: 20px;
	--cta-modal-padding-left: 20px;
	--cta-modal-padding-right: 20px;
	--cta-modal-padding-bottom: 20px;
	--cta-modal-width: 500px;

	/* Modal close button. */
	--cta-modal-close-color: #fff;
	--cta-modal-close-background-color: #000;
	--cta-modal-close-border-radius: 50%;
	--cta-modal-close-box-shadow: 0 0 0 1px #fff;
	--cta-modal-close-display: block;
	--cta-modal-close-font-family: 'Arial', sans-serif;
	--cta-modal-close-font-size: 23px;
	--cta-modal-close-line-height: 26px;
	--cta-modal-close-width: 26px;

	/* Modal close button - hover. */
	--cta-modal-close-color-hover: #000;
	--cta-modal-close-background-color-hover: #fff;
	--cta-modal-close-box-shadow-hover: 0 0 0 1px #000;
}

cta-modal [slot='modal'] > *:last-child {
	margin-bottom: 0;
}

/*
=====
NOTE:
=====

    - These styles are for the demo page.

    - They are not needed for the modal.
*/

/*
======
Reset.
======
*/

* {
	margin: 0;
	padding: 0;
}

/*
=====
Root.
=====
*/

html {
	color: #333;
	background-color: #fff;
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

/*
========
Spacing.
========
*/

h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
	margin-bottom: 20px;
}

/*
================
Horizontal rule.
================
*/

hr {
	border: 0;
	border-top: 1px solid #ccc;
	clear: both;
}

/*
======
Links.
======
*/

a {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

a:hover {
	color: orangered;
}

/*
======
Lists.
======
*/

ol {
	list-style-type: decimal;
	padding-left: 1.25em;
}

ul {
	list-style-type: disc;
	padding-left: 1.25em;
}

/*
==============
Form elements.
==============
*/

button,
input[type='button'] {
	appearance: none;
	color: #333;
	background-color: #eee;

	border: 0;
	border-radius: 5px;

	font-family: inherit;
	font-size: inherit;
	font-weight: bold;

	line-height: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
}

button:not([disabled]),
input[type='button']:not([disabled]) {
	cursor: pointer;
}

button:not([disabled]):hover,
input[type='button']:not([disabled]):hover {
	background-color: #ddd;
}

input[type='email'],
input[type='text'] {
	color: #333;
	background-color: #fff;

	border-color: #999;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;

	font-family: inherit;
	font-size: inherit;

	line-height: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
}

[disabled] {
	opacity: 0.5;
}

/*
=====
Code.
=====
*/

*:not(pre) > code {
	background-color: #ffd;
}

pre {
	border-radius: 5px;
	color: #fff;
	background-color: #345;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1em;
	tab-size: 2;
}
